[2016-11-02 23:38] rhys-vdw opened #2 "`child.stdin` is undefined in some circumstances"
[code]

Coming from [here](https://github.com/usabilityhub/erb-loader/blob/9bc50a6f5552ba53937b56052539621b8b3e43bb/index.js#L20).

Apparently `child.stdin` is undefined in some circumstances. It's unclear to me how this could occur.

Have you seen this one @jdlehman? It's only coming up occasionally.

[2016-11-02 23:56] rhys-vdw commented on #2
According to the reference for [child.stdin](https://nodejs.org/api/child_process.html#child_process_child_stdin):

[2016-11-03 02:04] jdlehman commented on #2
No this is the first time I have seen this. Maybe we should try `child_process.spawn` instead of `child_process.exec`?

[2016-11-03 05:47] rhys-vdw commented on #2
I'm hitting this problem constantly today since updating a bunch of dev dependencies. Triggering another compile seems to fix the problem.

Seems like the main difference between `spawn` and `exec` is that `exec` has the possibility of failing if a file exceeds `maxBuffer` (set to 200KB by default). `exec` makes life easier by offering a single callback with the entire output (which is what we wan

[2016-11-05 05:24] rhys-vdw opened #5 "Rename project"
I originally prefixed this with "uh" hastily to avoid a name collision with the existing [erb-loader](http://npmjs.com/erb-loader). However it's inappropriate and confusing to reference UsabilityHub in this loader's name.

I'm thinking we should go with `rails-erb-loader` and also try to get it added to the official [list of loaders](https://webpack.github.io/docs/list-of-loaders.html).

[2016-11-06 15:38] jdlehman commented on #5
👍 to `rails-erb-loader` as it does assume a Rails project since `rails runner` is used

[2016-11-07 00:12] #5 closed

[2016-11-07 04:10] rhys-vdw commented on #5
Cool, all done. :) Also I added it to the [list of loaders](https://github.com/webpack/docs/wiki/list-of-loaders#templating).

[2016-11-19 04:21] rhys-vdw opened #8 "Add npm badge with current version to readme"

[2016-11-19 04:50] #8 closed

[2016-11-21 00:41] rhys-vdw commented on #2
Well, it hasn't come up again so I'm closing this issue for now.

[2016-11-22 00:26] rhys-vdw opened #10 "Support adding whole folders as dependencies"
I *think* there's a way to do this in WebPack. Use case

[code]

[2016-11-22 15:17] jdlehman commented on #10
If not, we can probably just check if the dependencies are files are folders. For folders we can walk through and add the files.

Might also be interesting to add whole folders/globs by adding glob support via something like: `https://github.com/isaacs/node-glob`

[2016-11-22 22:27] rhys-vdw commented on #10
Before I added in the `rails-erb-loader-dependency` comment support, I tried an approach like this where by default each file would be rebuilt whenever any file matching `app/**/*.rb` was modified. The overhead of searching for files and registering watchers was significant. Like ten times slower than just rebuilding the files. I was not using `node-glob` though, I was using some other library (I

[2016-11-24 02:28] rhys-vdw opened #11 "`node-uuid` has been deprecated"
User `uuid` instead. https://www.npmjs.com/package/uuid

[2016-11-24 02:35] rhys-vdw commented on #11
I wonder if we wouldn't be fine just replacing this feature with a constant:

[code]

[2016-11-29 04:29] rhys-vdw opened #12 "Include LICENSE file"
Include copy of MIT license

[2016-11-29 13:54] jdlehman commented on #11
That constant is probably sufficient. I think it is highly unlikely that the delimiter is included in any JS files.

[2016-11-29 14:52] guilleiguaran commented on #11
👍 the constant is good enough.

[2016-11-29 21:49] #12 closed

[2016-11-29 22:33] #11 closed

[2016-11-29 22:42] rhys-vdw opened #16 "Allow changing of executable"
Executable command should be able to be changed from `./bin/rails runner <args>`.

One might need to use a different relative path, such as the creator of [`wow-erb-loader`](https://github.com/govorov/wow-erb-loader) did. `wow-erb-loader` is a modified copy+paste of an older version of this project.

Actually it should be fine to use `ruby <args>`. This would make rails-erb-loader configurable to

[2016-11-29 22:45] guilleiguaran commented on #16
We can support both `ERB` and `Erubis` with something like this:

[code]

I'm happy to apply the patch if it seems fine for you

[2016-11-30 00:02] rhys-vdw commented on #16
Hm. I'm not sure what the best solution is here. I'd probably prefer something like:

[code]

That way the client needs to explicitly choose their preferred engine.

I'm not really sure if this is necessary yet. No harm in adding it in I guess.

[2016-12-11 04:23] rhys-vdw commented on #16
This was partially address by #20, which added the `rails` option, allowing a different path to the `rails` executable.

However, running `ruby` directly (and therefore not requiring Rails) is not yet supported, because we always append `" runner "` to the command.

I think we could do something like this:

[code]

Which would override defaults of:

[code]

There's no real rush to get this done be

[2016-12-12 03:45] rhys-vdw commented on #16
Fixed by #20, #21

[2016-12-12 03:45] #16 closed

[2017-01-24 08:44] rhys-vdw opened #23 "Support WebPack 2"
I'm not sure exactly what's required (if anything), but it would be good to update to support WebPack 2.

[2017-01-24 11:57] guilleiguaran commented on #23
I'll investigate but I'm pretty sure this is working fine since we migrated webpacker to WebPack2 weeks ago and we haven't received any issue report related to rails-erb-loader.

[2017-01-24 22:35] rhys-vdw commented on #23
That's good to hear @guilleiguaran.

- [ ] README need to be updated to [use `rules:` instead of `preLoaders:`](https://webpack.js.org/guides/migrating/#module-preloaders-and-module-postloaders-was-removed).

- [ ] `options` are now [nested beneath the loader config, instead of at the root level](https://webpack.js.org/guides/migrating/#loader-configuration-is-through-options). This should be demo

[2017-03-27 08:48] rhys-vdw opened #24 "Fail on invalid dependency"
Currently there is no validation of dependencies. We should throw [here](https://github.com/usabilityhub/rails-erb-loader/blob/948b79a/index.js#L146) if a file does not exist before passing it to `loader.addDependency`.

This should actually fail to compile the file instead of just printing a warning. (Also should change the [invalid bool warning](https://github.com/usabilityhub/rails-erb-loader/b

[2017-03-31 00:19] rhys-vdw opened #25 "Add tests"
Would be nice to get some tests for the loader. Need to research the most appropriate testing framework for a loader.

[2017-03-31 12:56] #23 closed

[2017-03-31 13:12] rhys-vdw commented on #10
Cool. This seems to be supported now as `https://webpack.js.org/api/loaders/#this-addcontextdependency`

[2017-03-31 14:50] #10 closed

[2017-03-31 14:50] #24 closed

[2017-04-02 09:46] rhys-vdw opened #30 "Feature request: Support `erubi` loader"
attn: @ytbryan @renchap

See https://github.com/rails/webpacker/pull/220

We haven't upgraded to Rails 5.1 yet so I haven't hit this issue myself. I'll do this eventually, but if anybody would like to make the changes they can do so [here](https://github.com/usabilityhub/rails-erb-loader/blob/master/erb_transformer.rb).

[2017-04-10 20:55] mgwidmann opened #33 "Unable to access Rails view helpers"
With a `js.erb` file of the following contents:

[code]

The above crashes with the following exception (application name replaced with `myapp`):

[code]

Same for things like `javascript_path`, `image_path`, ect.

I have got this to work with my own rake task separately, heres the code for doing that. The trick is being able to add `include Rails.application.routes.url_helpers`, which most templa

[2017-04-27 02:46] rhys-vdw commented on #30
Closed by #31

[2017-04-27 02:46] #30 closed

[2017-04-27 02:55] rhys-vdw commented on #33
Hey @mgwidmann, sorry for the slow response. I'm open to adding support for this.

Is it possible to do something like this?

[code]

Or do these helpers need to be included before the template is rendered?

If so then I think explicitly listing helpers at the top of a `.erb` file makes sense, rather than relying on global inclusion. However if this causes some inconsistency then there are a numbe

[2017-05-03 04:33] rhys-vdw commented on #2
Just saw this again:

[code]

[2017-05-07 03:35] github0013 opened #34 "erb tags in comment lines should be ignored"
I found rails-erb-loader evaluates anything in (.js|.jsx|etc..).erb, that is including comment lines.
https://github.com/rails/webpacker/issues/338

**Rails 5.1 initial application.js** has comment lines like this.
[code]

If you just add `.erb` to this application.js, `<%= javascript_pack_tag 'application' %>` is evaluated (without your intentions), and it gives error `undefined method javascript

[2017-05-07 05:33] rhys-vdw commented on #34
Hi @github0013.

I see how this could be an unexpected gotcha!

Since ERB is language agnostic, I don't see this as a responsibility of an ERB compiler. Theoretically one might wish to generate comments with ERB (not sure why you would, but there's nothing about ERB that should know about JS or any other language that is being templated).

If this feature was to be added, it would have to implemen

[2017-05-07 08:30] github0013 commented on #34
I was think it would be simple, but I guess it gets more complicated than just telling people not to put erb tags in comments.
since application.js has the erb tag, I feel like there will be a lot more people spend time on this `undefined method javascript_pack_tag`, then end up with posting issues on github and stackoverflow...

[2017-05-07 08:30] #34 closed

[2017-05-07 08:37] rhys-vdw commented on #34
Yeah, interesting. Sorry, I missed that this was a script provided by Rails. I haven't checked, but I would assume, that Sprockets would also interpolate ERB in comments. Is this not the case?

Btw, you should avoid passing files through `rails-erb-loader` unless they actually contain ERB tags. A file called `application.js` should be filtered by the `test: /\.erb$/` attribute. I say this because

[2017-05-07 09:23] github0013 commented on #34
like I explained in https://github.com/rails/webpacker/issues/338, I did add `.erb` to application.js

https://github.com/github0013/js_erb/commit/50a760cb1093d2f4b0199a050e01ce99c117539a

I am sure usually nobody would try to add erb tags and comment them in javascript files.  But in this case the initial application.js has a comment containing erb tag, so that's very easy to miss when you change

[2017-05-12 03:02] mgwidmann commented on #33
I'd personally like to see the second. I think creating your own view context is too much work.

[2017-05-16 01:11] rhys-vdw commented on #33
Fair enough. I think the ideal would be to see exactly what Rails does when compiling ERB and use the same code path.

This would require knowledge of this part of Rails' code base.

I agree this would be nice to support. I am not personally planning to tackle this problem any time soon. I am, however, willing to give guidance and feedback about the approach taken.

I expect this is something that

[2017-05-16 14:25] rhys-vdw opened #36 "Use `child_process.execFile`"
Instead of `child_process.exec`.

https://nodejs.org/api/child_process.html#child_process_child_process_execfile_file_args_options_callback

[2017-05-24 21:23] a3ammar commented on #36
Hi,
To change to `execFile` would mean we must change the `runner` option from `bin/rails runner` to `bin/rails` and then add the `runner` part as an argument to `execFile`. This would break webpacker since they [explicitly set the runner option](https://github.com/rails/webpacker/blob/f0bae366b539b1d6f798f1050e5e13fa51003e7f/lib/install/config/loaders/core/erb.js).

So, should we keep compatibili

[2017-05-26 04:55] rhys-vdw commented on #36
Firstly, it's not super important to make this change. I just discovered the API and thought it was more appropriate. The docs say it's only "slightly more efficient".

I think processing the runner string would be most appropriate, since supplying a single string seems to easiest option for the consumer.

We could do something like:

[code]

Would be less pretty since this repo still supports Nod

[2017-05-26 05:50] rhys-vdw commented on #36
btw if you'd like to make this change, @a3ammar, you're quite welcome. :)

[2017-05-26 22:20] a3ammar commented on #36
I'd like to take a crack at it but first I'd like to understand why runner is a passable option in the first place. Is there another way to run Ruby code in Rails' context without using `rails runner`? Or is it an option to avoid using the stub?

[2017-05-26 22:21] a3ammar commented on #36
Also, I'm not sure about the contribution process, should I make a PR or push to a branch?

[2017-05-28 08:08] rhys-vdw commented on #36
Cool. :)

Setting `runner` to `ruby` allows you to run Ruby code _outside_ of the Rails context, for non-rails projects. You can see an example [here](https://github.com/usabilityhub/rails-erb-loader/blob/d97a732844f612e83be14489b6901a17e78facfd/README.md#configuration).

You can make a branch either in your fork, or in this repository (since you're a collaborator). When you're ready open a PR in

[2017-06-13 01:30] #36 closed

[2017-07-02 14:04] renchap opened #40 "Webpack 3 support"
PeerDependancies needs to be updated to allow the brand new  [Webpack 3](https://medium.com/webpack/webpack-3-official-release-15fd2dd8f07b).

Other changes might be needed as the internals have moved a bit.

[2017-07-03 03:14] rhys-vdw commented on #40
Thanks @renchap. Happy to take a PR or I'll get around to it in the coming days.

[2017-07-27 23:36] rhys-vdw commented on #25
Closed by #41

[2017-07-27 23:36] #25 closed

[2017-07-27 23:37] rhys-vdw commented on #40
Closed by #41

[2017-07-27 23:39] #40 closed

[2017-07-28 00:04] rhys-vdw opened #42 "Set up CI"
**Expand `test` script**

1. Run ESLint
1. Run webpack 2 tests
1. Run webpack 3 tests
1. Run webpack 4 tests (see #59)

**Set up TravisCI**

Should run the `test` command.

[2017-07-28 00:10] rhys-vdw opened #43 "Add hooks to npm standard scripts"
See [npm scripts](https://docs.npmjs.com/misc/scripts)

- [ ] Run tests on `prepublishOnly` script
- [ ] Run `bundle install` on `postinstall` script so that Ruby dependencies will be installed with npm dependencies

[2017-07-28 00:12] rhys-vdw commented on #40
Hey @renchap you can use 5.1.0 for Webpack 3 support now.

[2017-07-28 00:13] rhys-vdw opened #44 "Add test for paths containing spaces"
To prevent regressions on #35.

[2017-07-28 00:35] rhys-vdw opened #45 "Add test coverage for non-existent dependencies"
Ensure this throws for files and directories.

[2017-09-14 11:37] doits opened #47 "Webpack dev server with rails-erb-loader and spring hangs"
This was originally posted at webpacker https://github.com/rails/webpacker/issues/785.

Using rails-erb-loader@^5.2.1 and webpacker gem 3.0.1, rails 5.1.4 and spring 2.0.2.

I've the problem that in my current project, webpack-dev-server hangs when first started:

[code]

It sometimes hangs at some other point, eg.:

[code]

so the hang is not consistent, but it always displays some `.erb` at the

[2017-09-14 14:24] rhys-vdw commented on #47
Yeah, I've been meaning to open an issue for this for a while. We've been hitting this problem ourselves. I think that, as you suggest, that it's a bug in spring. I added a timeout recently in #46 that should kill the ruby process, but it the compile process never ends, nor emits the converted code and the process doesn't end, preventing the loader from completing.

Tbh I'm not sure what to do abo

[2017-09-14 16:32] K1N5L4Y3R opened #48 "Can't test files that import .js.erb"
I have a file app/javascript/packs/components/module_one.js which I'm trying to test with Jest. This file contains an import to an .js.erb file as follows:

[code]

module_two.js.erb contains the following:

[code]

While running webpack-dev-server everything works as expected, but when I try to run `yarn test`, it complains with the following error:

[code]

So it seems like the module_two.js.erb

[2017-09-15 00:31] rhys-vdw commented on #48
Hey @K1N5L4Y3R.

Would I be right in thinking that the `transform` key in your `package.json` is being read by Babel?
 `rails-erb-loader` is a webpack plugin, so I'm not sure how it works. (After some googling I found [its documentation](https://facebook.github.io/jest/docs/en/configuration.html#transform-object-string-string) - look like this should work).

Other observations:

[code]

One of the

[2017-09-15 00:31] #48 closed

[2017-09-18 03:14] rhys-vdw commented on #47
@doits did you use add a JS timeout, or did you use the existing Ruby-based [timeout option](https://github.com/usabilityhub/rails-erb-loader#options)?

[2017-09-18 15:57] doits commented on #47
@rhys-vdw I did not realize those where two different timeouts. I did use the ruby-based timeout.

Just now I simply patched `node_modules/rails-erb-loader/index.js` and added a 10 second js timeout for `execFile` to use the JS timeout:

[code]

With this, compilation always runs through even with cold spring and it looks like everything is compiled correctly.

A shot in the dark: Might it be that

[2017-09-18 23:04] rhys-vdw commented on #47
Interesting! Wouldn't the timeout cause an error to be raised, rather than a successful compilation?

Ah, interesting. In my experience running after `spring stop` tends to increase likelihood of success.

Would you be interested in opening a PR with these changes, removing the Ruby timeout, and replacing it with the more reliable JS timeout? If so, make sure that the `timeout` is defined in secon

[2017-09-18 23:04] rhys-vdw commented on #47
Or alternatively we could update to have two arguments `timeoutS` and `timeoutMs` so it's more explicit, and deprecate the `timeout` option.

[2017-09-18 23:06] rhys-vdw commented on #47
Or, if your theory is correct, perhaps switching back to `exec` instead of `execFile` would be better. Wish I had some answers here. 😕

[2017-09-22 14:37] brentdodell opened #49 "Module build fails in staging/production"
Everything works fine in development, but I get the following in our staging environment:

[code]

[2017-09-23 07:08] rhys-vdw commented on #49
Looks like your `ruby-local-exec` is not in your `$PATH` on your staging environment. Looks like this is an [old deprecated feature of `rbenv`](https://github.com/rbenv/rbenv/wiki/ruby-local-exec). I don't know more about it, but it doesn't sound like an issue with rails-erb-loader specifically.

[2017-10-23 10:38] chaffeqa commented on #47
I have a similar problem, but I'm suspecting more of the interaction between behavior of webpack caching and the return of the ERB on error.

My suspicion is because when i turn off the webpack caching `{ cache: false }`, it spits out the ERB error rather than hanging

[2017-11-03 02:06] rhys-vdw commented on #49
Closing for stated reasons, let me know if I misunderstood the situation.

[2017-11-03 02:06] #49 closed

[2017-11-03 02:08] rhys-vdw commented on #47
@chaffeqa okay, that's pretty good to know. Any idea what we could do to fix it?

[2017-11-03 13:50] chaffeqa commented on #47
Don't make errors 😉

It's a bandaid, but I added an `execFile` timeout (along with extending the buffer because our app sucks):

[code]

[2017-11-05 23:22] rhys-vdw commented on #47
Hm. In my experience errors raise an error code that fails the build... But perhaps this is misbehaving?

@chaffeqa would you open a PR with this fix? We can remove the Ruby timeout handling (#46) which hasn't worked as I'd hoped.

[2017-11-06 00:12] chaffeqa commented on #47
haha no I meant `Don't make errors` as a joke... because of course the real issue is that as developers we make errors for some darn reason.

Sure thing on the PR!

[2017-12-06 20:22] tomprats opened #50 "Error (stdout maxBuffer exceeded) after removing unrelated gem"
I'm getting an error that seems to make sense...sounds like the erb code is returning something too large for the buffer. What's weird is that it only appeared after removing a seemingly unrelated gem.

[code]

I only started getting the error when I remove the [npm-rails](https://github.com/endenwer/npm-rails) gem from my Gemfile. I had already removed all the other npm-rails related code and hav

[2017-12-06 21:01] tomprats commented on #50
Upon further review, it seems that by removing npm-rails, the locales returned in the locale file change from using `I18n.available_locales` to including all of them which would certainly be buffer breaking

[2017-12-07 15:58] mikebaldry opened #51 "Using rails-erb-loader from CSS @import?"
I'm sharing global variables (brand colours, etc) from my rails code, to a `settings.scss.erb` in the asset pipeline - I want to include this in to a Vue components styling but I can't seem to get it to process the ERB file - it just doesn't get parsed through this package.

I've added the rule to my webpack config.

Any idea what I'm doing wrong?

[2017-12-09 20:53] alassek commented on #33
I can't speak for ERB or Erubi but Erubis provides `#evaluate` which performs an `instance_eval` against a context object you pass in.

https://github.com/kwatch/erubis/blob/3bad74be554caaa34527e7407138d4840a71c4f1/lib/erubis/evaluator.rb#L69-L75

[code]

[2017-12-10 02:23] rhys-vdw commented on #51
Ah yeah, I had problems with this too. It works okay if you import via `require()` in JS but not via scss-loader (which I assume you're using). I think that scss-loader doesn't resolve `@import`ed file contents via webpack, but that's an issue you'll have to take up there. (I actually spent time time trying to fix this myself).

I can recommend another approach that works quite nicely though: [`sa

[2017-12-10 02:23] rhys-vdw commented on #51
Closing because it's not a problem with `rails-erb-loader`. Good luck!

[2017-12-10 02:23] #51 closed

[2017-12-10 06:58] mikebaldry commented on #51
Thanks for the response, makes sense 👍

[2017-12-14 12:46] pawelniewie commented on #50
That's actually still an issue, was reported against webpacker as well https://github.com/rails/webpacker/issues/554 as well but I think it needs to be fixed here.

[2017-12-18 16:45] tomprats commented on #50
@pawelniewie I saw that one before creating mine. The error message is definitely the same, but I think the context is different. Not being able to render that large of a string might just be a limitation. I'd be interested to know if other `erb` loaders run into similar problems (like `.html.erb` or `.js.erb` through sprockets) but a good solution might just be to reconsider what you're importing

[2017-12-20 01:53] rhys-vdw commented on #50
Hey guys, so sorry to have not responded. This is absolutely something that can go wrong with the current implementation.

See [`execFile` documentation](https://nodejs.org/api/child_process.html#child_process_child_process_execfile_file_args_options_callback). If your file size exceeds `maxBuffer` then yes, you will hit this exception.

There are two ways this can be fixed:

1. Add a `maxBuffer`

[2018-02-08 10:11] jonhue opened #52 "Module build failed: Error: spawn bin/rails ENOENT"
After adding the ERB loader and adding the `.erb` file extension to my `application` pack, I am getting the following error:

[code]

it is also happening with the sample `hello_erb.js.erb` pack.

[2018-02-14 23:30] rhys-vdw commented on #52
Oh sorry @jonhue, I missed this. `ENOENT` means that there is no `bin/rails` executable to use. You'll need to work out which directory your rails/ruby executable exists in and [configure](https://github.com/usabilityhub/rails-erb-loader#options) the loader to use the correct path. I've got a  couple of example there you can use as reference. Let me know if you need more guidance.

[2018-02-14 23:31] rhys-vdw commented on #52
I've marked this as "enhancement" because this error could be caught and a more practical instruction (like the comment I gave above) provided instead.

[2018-02-14 23:32] rhys-vdw commented on #52
What is that?

[2018-02-15 05:23] jonhue commented on #52
The [webpacker](https://github.com/rails/webpacker/blob/master/README.md#erb) gem generates it when installing the ERB loader.

[2018-02-15 05:54] jonhue commented on #52
@rhys-vdw

Modifying `runner` & `dependenciesRoot` does not appear to solve the problem. I tried each of them with up to four `../`. Relative to which file should these paths be? The configuration? The `.js.erb` files?

[2018-02-15 10:24] ytbryan opened #53 "How do I use rails-erb-loader in a webpack=vue project?"
Hi @rhys-vdw

Thank you for maintaining `rails-erb-loader`.

I was trying to get rails-erb-loader to work on webpacker and I encounter the following error: `Error: Module build failed: Error: Command failed: bin/rails runner /Users/ytbryan/Desktop/app/node_modules/rails-erb-loader/erb_transformer.rb __RAILS_ERB_LOADER_DELIMETER__ erb 0`. Can you give me some advice? Here's the repo:
https://github

[2018-02-16 05:37] jonhue commented on #52
Here is a sample app that reproduces the problem: https://github.com/jonhue/test_app

[2018-02-16 18:35] jonhue commented on #52
`runner: 'ruby bin\\rails runner'` fixed the problem for me.

[2018-02-16 22:20] rhys-vdw commented on #52
Ah. Windoze! We should be using `path.join` for the default path.

[2018-02-16 22:21] rhys-vdw commented on #52
Are you sure you need the leading `ruby` though? `bin/rails` should be an executable.

[2018-02-17 07:11] jonhue commented on #52
@rhys-vdw I don't know why, but I need it.

[2018-02-20 01:29] rhys-vdw commented on #53
Hi @ytbryan, this has nothing to do with Vue. You don't have a method called `image_tag` in your global Ruby context. Most likely you'll need to explicitly import the module that contains that method...

Try adding this line to the top of the file:

[code]

[2018-02-20 01:30] rhys-vdw commented on #53
Please see #33 for more info.

[2018-02-20 01:30] #53 closed

[2018-02-22 05:40] ytbryan commented on #53
fixed https://github.com/ytbryan/rails-erb-loader-vue

[2018-03-01 04:11] rhys-vdw opened #54 "timeout option doesn't always work"
In some cases the runner might never actually execute `erb_transformer.rb`, meaning the timeout will not work. Prefer to use a JS based timeout for this.

[2018-03-01 04:14] #54 closed

[2018-03-01 07:52] rhys-vdw commented on #47
Closed by #54... Hopefully.

Let me know how 5.3.0 works for you.

[2018-03-02 00:53] rhys-vdw opened #57 "Configure ESLint for jest"
Add https://www.npmjs.com/package/eslint-plugin-jest and in the test file:

[code]

So that we don't get undefined errors for all the globals defined by jest.

[2018-03-05 00:18] akaspick opened #58 "Module build failed with .vue.erb files"
Not sure where the following error came from as I was deploying regularly and then nope..

This error only seems to occur with .vue.erb files.  It appears to be an issue with the erb loader though as that seems to be the point where the compilation fails.

My package.json
[code]

And the error which only occurs for two (I only have two) of my .vue.erb files.
[code]

I've researched and looked for

[2018-03-05 01:12] rhys-vdw commented on #58
Hi @akaspick, sorry to hear about this issue. Currently `stderr` output is suppressed. You might get more information by adding a line [here](https://github.com/usabilityhub/rails-erb-loader/blob/80d87fb3095a5d15d1f7aa72471c6db998281296/index.js#L94):

[code]

Otherwise we should get better error handling when #56 is wrapped up. Still a bit of work to go there atm.

[2018-03-05 03:28] akaspick commented on #58
Thanks @rhys-vdw, I upgraded rails-erb-loader to 5.3.0 and added the console statement, but nothing appeared.  The latest error is shown below, but it looks almost the same as the previous one with only minor differences.

[code]

[2018-03-05 03:55] akaspick commented on #58
@rhys-vdw Not sure if it helps, but everything compiles fine in my development environment, but not on my production server.  Is there anything worth looking into regarding the environment?

[2018-03-05 13:00] akaspick commented on #58
@rhys-vdw Looks like the issues lies with webpacker.  Notably https://github.com/rails/webpacker/issues/1222

I'll close this, but improved error messages from rails-erb-loader would be helpful.  Thanks for trying to help.  When there are so many parts working together, it's difficult to figure out where the issue lies.

[2018-03-05 13:00] #58 closed

[2018-03-05 23:19] rhys-vdw commented on #58
@akaspick So what exactly was going wrong here? What would have been an appropriate error message? (I haven't used webpacker)

[2018-03-06 00:26] akaspick commented on #58
@rhys-vdw I was deploying to a staging environment and webpacker currently doesn't handle non-standard environments well.  webpacker was failing, but the error was showing rails-erb-loader as the source of the issue.  Perhaps it's a webpacker logging issue instead... I'm really not sure.  Overall, the error message I was seeing was not really pointing me in any obvious direction.

Thanks for check

[2018-03-06 01:54] rhys-vdw commented on #58
Okay. If you find out what the specific issue is (eg. `bin/rails` did not exist) then we might be able to add an explicit check that the executable exists and give a better warning.

[2018-03-06 20:59] akaspick commented on #58
@rhys-vdw Update.  I ran into more issues again and everything worked when I removed erb-helper from the compilation steps.  Turns out me upgrading to node 8.9.4 from 6.13.0 resolved my issues (minus a separate webpacker issue).

[2018-03-07 01:02] rhys-vdw commented on #58
Thanks for the update @akaspick.

What is erb-helper?

[2018-03-07 01:03] akaspick commented on #58
@rhys-vdw Sorry, I meant rails-erb-loader.

[2018-03-08 00:06] rhys-vdw opened #59 "Support webpack 4"
Add webpack 4 to tests and update peerDependency.

[2018-03-08 00:47] rhys-vdw opened #60 "`cancelTimeout` is not a function"
[code]

Oops

cc @xicreative

[2018-03-08 00:52] #60 closed

[2018-03-13 18:37] Chucheen opened #62 "rails-erb-loader failed with code: 1"
I'm getting the above error, either with hot reload (webpack-dev-server) or precompiling assets. When using wds is more descriptive. The error goes as follows:

23:28:34 web.1  | Module build failed: Error: rails-erb-loader failed with code: 1
23:28:34 web.1  |     at ChildProcess.<anonymous> (/Users/jgutierrez/RubyProjects/homiemx/homie/node_modules/rails-erb-loader/index.js:108:16)
23:28:34 web.

[2018-03-13 19:12] bryanculver commented on #62
I just stumbled across the same thing.

For me it was the comments in the example from the rails webpacker helper. I found this from the log file error:

[code]

Lo and behold this was in the example .erb file `hello_erb.js.erb`
[code]
Removed this comment and presto, everything worked!

[2018-03-13 22:12] xicreative commented on #62
Interesting.
Looks like this is actually a problem with the webpacker example [here][0], not the `rails-erb-loader`. That comments at the top of that example should be modified to use ERB comment tags (`<%# ... %>`) so that the `javascript_pack_tag` isn't evaluated.

[0]: https://github.com/rails/webpacker/blob/master/lib/install/examples/erb/hello_erb.js.erb

[2018-03-14 07:18] Chucheen commented on #62
I don't have such webpacker example.

Looking closely, i see this line:

/Users/jgutierrez/.rvm/gems/ruby-2.3.0/gems/sprockets-3.7.1/lib/sprockets/uri_tar.rb:69: [BUG] Segmentation fault at 0x00000000000000

-- Ruby level backtrace information ----------------------------------------
-e:1:in `<main>'
/Users/jgutierrez/.rvm/rubies/ruby-2.3.0/lib/ruby/site_ruby/2.3.0/rubygems/core_ext/kernel_require

[2018-03-14 08:28] Chucheen commented on #62
Hey guys, is this normal?

64% building modules 494/546 modules 52 active .../homie/node_modules/lodash/flatten.jsRunning via Spring preloader in process 97163
 64% building modules 500/553 modules 53 active ...omponents/home_card/home_card.vue.erbRunning via Spring preloader in process 97165
 64% building modules 507/560 modules 53 active ...ode_modules/lodash/_baseGetAllKeys.jsRunning via Spring

[2018-03-15 04:26] rhys-vdw commented on #62
Hi @bryanculver, thanks for your comment. See a discussion of this issue in #34, and my more robust solution [here](https://github.com/usabilityhub/rails-erb-loader/issues/34#issuecomment-299683630).

[2018-03-15 04:31] rhys-vdw commented on #62
@Chucheen

This doesn't seem like an issue with rails-erb-loader. That's a segmentation fault coming from a C binary. That means you're hitting either a `ruby` error or perhaps some C blob is failing with within `sprockets`. Either way it seems highly unlikely that there's anything we can do about it.

[2018-03-15 04:56] Chucheen commented on #62
I'm closing this and will keep trying upgrading versions here and there. Thanks

[2018-03-15 04:56] #62 closed

[2018-03-20 17:42] Swat123 opened #63 "randomly getting error while webpacker compile"
Running the following:
`ruby -e $stdout.sync=true;$stderr.sync=true;load($0=ARGV.shift) /Users/swathishah/shopify-app/bin/spring rails --trace assets:precompile`

But I randomly get following error:

ERROR in ./app/javascript/components/layout_tab.js.erb
Module build failed: Error: rails-erb-loader failed with code: 1
    at ChildProcess.<anonymous> (/Users/swathishah/shopify-app/node_modules/rail

[2018-03-20 23:26] rhys-vdw commented on #63
Hi @Swat123. I don't know *why* this is happening exactly, but I can explain the general context of this error message and maybe we can improve the reporting or find out what's going wrong.

When rails-erb-loader loads a single file:
- It runs a [Ruby script](https://github.com/usabilityhub/rails-erb-loader/blob/83a335c15a9ab35a77ccf8874b02d53217f8cfb4/erb_transformer.rb) in a new process. The scr

[2018-03-21 03:05] Swat123 commented on #63
Thank you so much. You are right it is spring. Disabling spring gets me rid of the error. Any way I can debug and pull in more trace info so that it can help others ?

[2018-03-21 04:11] rhys-vdw commented on #63
Hey @Swat123, thanks for getting back to me. Glad I could help.

Yes, absolutely. If you're willing to put in some work there are a few actionable here...

1. Improve the error message to include the actual executable that returned the error code (see my previous comment)
2. Confirm that spring is actually *not* outputting any error information on stderr. My understanding is that we're reporting a

[2018-03-21 04:17] rhys-vdw commented on #63
I wonder if we can learn something from the [`spring server` command](https://github.com/rails/spring#troubleshooting)...

[2018-04-13 11:52] dreyks commented on #63
I tried this for other ENV var that i needed and this does not work. `parseRunner` splits by spaces so the ENV var becomes a file that `spawn` tries to call

[2018-04-15 13:37] rhys-vdw commented on #63
@dreyks oh dear!

[2018-04-15 13:49] rhys-vdw opened #64 "Unable to supply environment variables in `runner` argument."
Reported by @dreyks [here](https://github.com/usabilityhub/rails-erb-loader/issues/63#issuecomment-381112052).

Rather than improving the support for `runner` string, I think something like this would be most appropriate for the internal usage of [`spawn`](https://nodejs.org/api/child_process.html#child_process_child_process_spawn_command_args_options).

[code]

NOTE: When supplying `options.env`

[2018-04-16 15:03] kofronpi commented on #63
I'm also affected by this with undecipherable errors. I will investigate and report back.

[2018-05-03 02:06] akaspick commented on #63
I'm going mad trying to deploy to a production env with rails-erb-loader...

[code]

Any ideas?  There is nothing to tell me what actually went wrong.

[2018-05-03 14:29] akaspick commented on #63
Follow up to my last message... now compilation works with no changes to the server.  Stress on the *randomly* in this issues title.  I'll keep testing to see if there's any pattern to this... server load, etc.

[2018-05-08 02:33] akaspick commented on #63
@rhys-vdw I'd love to make the change, but I don't have a reliable way to reproduce the issue. I had non-stop issues one evening last week and then the following day and after I haven't seen the issue since.  If this comes up again, I'll take another look.  Thanks for the reply.

[2018-05-08 05:57] rhys-vdw commented on #63
@akaspick no problem, see #65.

[2018-05-08 06:01] rhys-vdw commented on #63
@akaspick if you update to latest (5.4.2) you should get the name of the signal that killed your process in future. Hopefully you can check your production environment docs to find out what might be causing it.

[2018-05-15 08:31] n-rodriguez commented on #63
Setting NODE_ENV might save you : https://github.com/rails/webpacker/issues/1374

[2018-05-15 08:32] n-rodriguez commented on #63
I had the same error with erb-loader :

[code]

[2018-05-16 01:17] rhys-vdw commented on #63
@n-rodriguez so this is an error with webpacker, not not rails-erb-loader?

[2018-05-16 01:18] n-rodriguez commented on #63
well it seems to be...

[2018-05-25 02:19] richardkazuomiller opened #66 "Option to limit the number of ruby processes that run in parallel"
A client of mine is using this package and it's working, but they have about 80 `.js.erb` files in their app so 80 ruby process all start running at the same time and some people's machines run out of memory before webpack finishes. How hard would it be to make it so the process run sequentially so this doesn't happen

[2018-05-25 10:29] rhys-vdw commented on #66
Hey @richardkazuomiller. Yeah, well aware of this problem. We could do that, but it will still be painfully slow.

I'm not sure how hard it would be to do that exactly. I've certainly considered it before. There are other options I've considered too - such as process pooling, or running a server from a single process and sending requests to it that are transpiled one at a time. I'm not sure exactl

[2018-05-29 05:50] andybluey commented on #63
@n-rodriguez - can you please let me know the change you made? Thanks

[2018-05-29 11:41] dmke commented on #63
I've come across this error as well. In my case, the Rails Runner script was invoked with the global Ruby installation, not my local rbenv version. `bin/rails` has the default shebang (`#!/usr/bin/env ruby`), which works in my default shell, but obviously not with [`spawn`](https://github.com/usabilityhub/rails-erb-loader/blob/5.4.2/index.js#L73)?

The error message I got was

[code]

followed by

[2018-05-30 00:07] rhys-vdw commented on #63
@dmke FYI current version of rails-erb-loader has a bug that prevents setting env vars that way. See #64. You'll need to set them in the parent environment.

[2018-05-30 00:08] andybluey commented on #63
Hey @n-rodriguez - sorry, just to confirm, where and how did you add NODE_ENV env var? Thnks

[2018-05-30 04:55] n-rodriguez commented on #63
@andybluey I use [Dotenv](https://github.com/motdotla/dotenv) gem

[2018-05-30 08:44] dmke commented on #63
@rhys-vdw: Is `$PATH` affected as well?

In my case `$PATH` contains `$HOME/.rbenv/shims` before `/usr/bin`, so that `/usr/bin/env ruby` (the shebang of `bin/rails`) picks up `$HOME/.rbenv/shims/ruby`, which in turn reads my local rbenv config (Ruby version + gemset name), and finally resolves `ruby` to `$HOME/.rbenv/versions/ruby-2.3/bin/ruby`.

When calling Node's `spawn` function in `transformS

[2018-05-31 21:56] rhys-vdw commented on #63
@dmke I wouldn't expect `$PATH` to change for reasons you've listed. How are you invoking webpack though? Using `webpacker`? Maybe it's doing something funky.

[2018-05-31 22:00] rhys-vdw commented on #63
@andybluey

FYI you can always do this:

[code]

Where `dev` is your dev server "script".

[2018-06-02 13:43] jonhue opened #67 "Config: Testing for Windows doesn't work when using a Linux subsystem"
I am compiling with webpack in the Ubuntu subsystem of Windows. This is my generated erb-loader config:

[code]

The problem is here: `runner: (/^win/.test(process.platform) ? 'ruby ' : '') + 'bin/rails runner'`.
While this works in Windows, it does not in the subsystem as it does not recognize it as Windows.

Replacing the runner option with `runner: 'ruby bin/rails runner'` solves the problem lo

[2018-06-02 13:45] jonhue commented on #67
`process.platform` returns `linux` in the Linux subsystem.

[2018-06-03 05:33] rhys-vdw commented on #67
Sure, just test `process.env.NODE_ENV` instead. I assume the config you're sharing is from webpacker?

[2018-06-03 06:56] jonhue commented on #67
That's what I ended up doing for now. But it's not great if you develop on multiple machines with on being Unix based and one being Windows.
Is there a way to test directly for the required command?

[2018-06-03 10:43] rhys-vdw commented on #67
Just to be clear - rails-erb-loader does nothing smart with the runner command at present. Since the loader doesn't require rails (can use ruby directly) I don't think there's a way to generalize.

Perhaps a solution like this makes sense:

[code]

Just for my curiosity: Why is it that `bin/rails runner` fails in the Linux subsystem? Is it not executable?

[2018-06-03 11:33] jonhue commented on #67
That happens because even though I am using the Linux subsystem, my Ruby installation is mingw (because the subsystem still uses the Windows kernel).

[2018-06-04 07:47] rhys-vdw commented on #67
I'm going to close this one because I think the per-platform runner is probably the best solution there. If you can think of a way to detect that webpack is running on the Linux subsystem I'd suggestion raising an issue with `webpacker` that changes their config template.

[2018-06-04 07:47] #67 closed

[2018-06-04 07:50] jonhue commented on #67
Ok, thank you!

[2018-06-05 17:47] luislezcair commented on #63
I'm also facing this issue when deploying to Heroku.

[code]

I'm using rails-webpacker (with webpacker 4.10.2). I know it's not supported yet by erb-loader, but I've been using it without problems in development. The strangest part is that when I run this command it finishes without problem:

`RAILS_ENV=production NODE_ENV=production ./bin/webpack --progress --config config/webpack/production.js`

[2018-06-05 22:01] bbugh commented on #63
We're getting this issue on CircleCI (works fine locally) and I've tried every variation of running a ruby command I can think of, both in the circle.yml and the runner options.

This is what we get when `rails-erb-loader` tries to run.

[code]

If we take out `rails-erb-loader` and the one erb file, we don't get this error. It seems to be something to do with spawning the subcommand.

[2018-06-05 22:33] rhys-vdw commented on #63
@luislezcair

Webpacker depends on rails-erb-loader but I am not a member of the project. There is no "yet" - this project is a webpack loader, and that's all it is. My support starts and ends with this repository.

I'd like to look into the error reproduction, but I'm quite busy. I need to deploy it to heroku to see the failure right?

[2018-06-05 22:35] rhys-vdw commented on #63
@bbuh this sounds unrelated. Are you compiling any erb files?

[2018-06-05 22:37] rhys-vdw commented on #63
@bbuh also, is there any way of getting a full stack trace?

[2018-06-05 22:41] bbugh commented on #63
So sorry about that, I'd copied the stack trace to the clipboard but never pasted it in.

I think that it's related because I'm getting the same error message as this thread title, and in my particular case the spawned child seems to not be using the correct environment, which I believe someone else mentioned as well.

In the stack trace, you can see that webpack is trying to compile `vue-apollo.j

[2018-06-06 05:55] rhys-vdw commented on #63
@luislezcair did you notice that you have some [ERB in a comment](https://github.com/luislezcair/erb-loader-test/blob/a6c21e56d2b96b95aa0bf8ad0339676b7b015d5d/app/javascript/packs/hello_react.jsx.erb#L4)?  Any chance that's an issue?

[2018-06-06 05:59] rhys-vdw commented on #63
Okay, yeah, this is happening a lot... If you're consistently experiencing this issue, could you please try getting more info out of the `transformer.rb`...

Perhaps we can wrap the whole file in a `begin`/`rescue` block that prints out the error message to `stdout`.

The other possibility is that it's just spring breaking before the script is even executed.

[2018-06-06 06:02] rhys-vdw commented on #63
@luislezcair is there much involved in trying to deploy it? Was hoping for some instructions in the README.

[2018-06-07 01:21] valterbarros opened #68 "Using ruby as a runner for erb template"
**rails version 5.2.0
ruby version 2.5.1**

Hello guys I see in your documentation about this to use ruby like runner:
[code]

And I'm working on a rails project that use i18n inside coffee.erb to translate, the problem is when I use rails like runner the compiling from webpack is a bunch of slow, and when I use ruby I get this error.

[code]

Someone can help me?

[2018-06-07 02:54] luislezcair commented on #63
I think I may be getting closer to the problem. In fact, the ERB in a comment you mentioned was causing the error, but in my actual project I _need_ to call `asset_pack_path` helper wich is in `Webpacker::Helper` module, the same as `javascript_pack_tag`.

What I suspect is happening is that the `.js.erb` file wich calls `asset_pack_path` helper is getting compiled **before** the asset (`image/7.j

[2018-06-07 06:27] rhys-vdw commented on #63
@luislezcair I don't know what to make of that, sorry, but thanks for including it.

[2018-06-07 06:53] dreyks commented on #63
you're getting Stack level to deep. which means you probably have an infinite recursive method call

[2018-06-07 07:32] rhys-vdw commented on #68
(sorry about the TypeScript)

[2018-06-07 14:22] valterbarros commented on #68
this Is a nice workaround

[2018-06-07 14:28] valterbarros commented on #68
You dump the .yml files inside a script tag?

Sorry i'm not used with typescript and lodash, can you explain about this function?

[code]

This `console.log` will return the result from "grettings.hello" or you replace the value from `${key}` pattern by "grettings.hello"?

[2018-06-07 16:33] luislezcair commented on #63
I tried changing the order of the loaders following [the webpacker docs](https://github.com/rails/webpacker/blob/master/docs/webpack.md) but the issue persist.

`environment.loaders.insert('erb', erb, { before: 'file' })`

Using the rails console I found that the `asset_pack_path` helper is the culprit of the recursive call that produces the stack error I posted before. When it doesn't find the as

[2018-06-07 17:17] dreyks commented on #63
yes, this won't work in webpacker with calls to packs: when encountering asset_pack_tag webpacker kicks off another round of "compile all" which includes your erb and that leads to stack overflow

[2018-06-09 01:12] rhys-vdw commented on #63
Okay, so it sounds like that's an problem with webpacker. This issue is meant to be for errors that don't provide any info (stack trace, error message etc). So please comment in this thread if you're experiencing such a problem.

[2018-06-09 02:30] rhys-vdw commented on #68
We set the correct language by calling `I18n.with_locale` in the controller before calling the `include_paths` function. The reason we made `include_paths` is because we don't need all of the translations, but you could modify it to just include everything.

[2018-06-09 02:32] rhys-vdw commented on #68
We could probably wrap this up into a library really...

[2018-06-09 02:46] rhys-vdw commented on #68
Hey feel free to ask more questions, but I'm going to close the issue because it's not actionable on our end.

[2018-06-09 02:46] #68 closed

[2018-06-09 02:46] rhys-vdw commented on #2
Been over a year now.

[2018-06-09 02:46] #2 closed

[2018-06-09 02:49] rhys-vdw commented on #67
Hey @jonhue if you do find a nice solution you're invited to tackle #52. It wont make a difference in the case of webpacker though since it's overriding the defaults. Perhaps if #52 is closed the webpacker default runner could be set to `undefined` so it just takes the default from this project.

[2018-06-09 03:00] valterbarros commented on #68
@rhys-vdw Ok man closes this issue. I like all your solution and I'm going to apply in my project. I need only take a time to understand all code and if I have some doubt I'll ask to you. Thanks a lot. For while I'm continue using the `rails-erb-loader` that is too a good solution. :smile:

[2018-06-09 03:01] valterbarros commented on #68
And I agree with the option for wrap this solution in a library

[2018-06-14 17:59] valterbarros commented on #68
Heey man good news, I tried your solution to dump the locales inside html and use js script to read and replace on code and work very well, Man thanks so much you save my project. :grinning:. I had 51 coffee.erb files and compile theses was a big problem for me now is no more.

[2018-06-14 18:03] valterbarros commented on #68
With this the webpack's compile time was decrease form **184000ms** to **9000ms**

[2018-06-14 23:02] rhys-vdw commented on #68
Oh awesome! 😃

[2018-06-19 21:44] valterbarros commented on #68
[update] I added a modification to increase quality from conversion from locale object that was put the data inside a data attribute, because put in value from script gave a error something like `unexpected .`

` <script id="translations" data-content="<%= JSON.generate(i18n_paths(".")) %>">`

[2018-06-30 16:52] oscarlaf03 opened #69 "Problems with configuration::: jquery.js:10364 Uncaught Error: Module build failed: SyntaxError: Unexpected token (67:17)"
## Issue
Hi
I've trying to configure my webpacker correctly  in order to make use of attributes inside my instance classes as inputs for functions I am calculating on my javacripts
But It seems I can't get the configuration right.

What are your thoughts?

## Error message

I am getting a syntax error for `<%= `

![image](https://user-images.githubusercontent.com/29902457/42127334-cbbcf39c-7c6c-11

[2018-06-30 23:56] rhys-vdw commented on #69
The file ends in `.js`, but the test is for files that end in `.erb`.
Rename the file to `jquery.js.erb`.

On Sun, 1 Jul. 2018, 2:52 am Oscar Ortiz, <notifications@github.com> wrote:

[2018-07-01 02:34] rhys-vdw commented on #69
Closing this for now, we can reopen if there's any other confusion.

[2018-07-01 02:34] #69 closed

[2018-07-01 03:30] oscarlaf03 commented on #69
Hi @rhys-vdw  thanks a for your answer. I tried to follow your recommendation but i don't have any 'jquery.js' file and the file from where I am causing the error already has the file extension `*.js.erb`

What are your thoughts?

**app/javascript/components/moip.js.erb**
[code]
**app/javascript/components/packs/application.js**
[code]

[2018-07-01 23:51] rhys-vdw commented on #69
This seems like an issue with the webpacker config. Perhaps try there.

Btw, once you solve the build error you'll probably get an error because the ERB scope doesn't include the field you're referencing.

[2018-07-03 00:39] rhys-vdw commented on #69
Oh @oscarlaf03, just a thought...

Is it possible that you should add quotes? Perhaps you're getting some invalid output like:

[code]

[2018-07-23 01:35] rhys-vdw commented on #63
So, I just hit this. I see now what we're doing wrong:

[code]

Although the error is being printed, it's done while the progress is showing because it's being piped straight to `stderr`, so the stack trace is not grouped with the `failed with code: 1` error! A possible improvement here would be to buffer the `stderr` and include it with the failure error.

For anyone else hitting this make sure y

[2018-08-24 09:45] PikachuEXE commented on #64
I got a different issue (I think ruby hangs with spring enabled while compiling)
"fixed" by disabling spring in `bin/rails` but not really a good change
So +1 for this proposal

Maybe I will open a PR for making this change later

[2018-08-24 11:09] rhys-vdw commented on #64
@PikachuEXE yeah, that's be great. It's a pretty trivial change I think.

Btw the problem you're experiencing with spring is #47, which has been very hard to pin down. I guess I should reopen it.

[2018-08-27 02:55] PikachuEXE commented on #64
Please take a look at #70

[2018-08-28 00:56] #64 closed

[2018-09-03 02:07] n-rodriguez commented on #59
It already works here but it would be great to have tests :)

[2018-09-03 04:07] rhys-vdw commented on #59
Absolutely. Feel free to open a PR, @n-rodriguez. At the moment I don't have much time to dedicate to rails-erb-loader.

[2018-09-03 04:09] rhys-vdw commented on #59
(FYI we're also using webpack 4 without issue)

[2018-09-03 05:12] PikachuEXE commented on #59
Just do similar thing to
https://github.com/usabilityhub/rails-erb-loader/blob/master/package.json#L13

Off topic: Should we set up Travis or other CI for this project?

[2018-09-03 05:34] rhys-vdw commented on #59
@PikachuEXE Yep: #42

[2018-09-05 13:53] rhys-vdw commented on #42
Closed by #71

[2018-09-05 13:53] #42 closed

[2018-09-14 15:41] rkotov93 commented on #63
Hey @bbugh, I've got stuck with the same issue on CircleCI, did you find the way to resolve it?

[2018-09-14 17:58] bbugh commented on #63
@rkotov93 sorry no, we ended up removing it because of the instability. We ended up using environment variables to pass data.

[2018-09-19 12:45] zachmccormick opened #73 "Separate server process for each file?"
I may be mistakenly reading the logs/results I'm getting, but it seems like this boots a totally separate server process for each file that it needs to template, meaning that unless you use Spring to cache classes in memory, this will be rather slow.

My project necessitates that I can't do that. Would it be too difficult to start a Ruby process, load in the Rails configuration, then just keep tha

[2018-09-19 12:46] zachmccormick commented on #73
I should have browsed the closed comments before this. https://github.com/usabilityhub/rails-erb-loader/issues/66 is fairly relevant

[2018-09-19 23:06] rhys-vdw commented on #73
Yeah as I mentioned in #66 (which I didn't realize had been closed) I think that would be ideal.

I think that solution will be possible. I guess we could just "lock" the process and send the files one at a time. Alternatively there could be a pool of processes.

The irony of the current behavior is that spring actually causes hangs so even though it's unbearably to disable it, it's often required

[2018-10-16 22:53] bragovo opened #74 "Few invisible symbols"
I use erb loader for this https://github.com/fnando/i18n-js
[code]
In random places I found symbols like this:`"sure": "Уверен��?",`.
When I print `<%= I18n::JS.filtered_translations.to_json %>` without loader (plain rails) — JSON fine `"sure":"Уверены?"`.

It depends of yml file size. Short file — no symbols, large file — a lot of. Maybe it's because webpack 4.x, I using same method on projects w

[2018-10-16 23:44] rhys-vdw commented on #74
Interesting. We also use I18n but not via rails-erb-loader. I've detailed our approach in #68.

I don't know off hand what the issue is, but you should be able to inspect the output in your browser to check whether the problem is in the output of rails-erb-loader or in i18n-js.

[2018-10-17 07:44] bragovo commented on #74
I created example repo https://github.com/bragovo/erb-loader-in18-js
`"signed_out": "Выход из системы ��ыполнен."` — that's wrong string.
If you delete 313 & 314 rows from this file https://github.com/bragovo/erb-loader-in18-js/blob/master/config/locales/ru.yml#L313 JS compile fine.

In Gemfile you can uncomment faker gem and compile again and a lot of this error will be appears.

I don't know how

[2018-10-29 12:40] feliperaul commented on #47
@rhys-vdw Still hanging on 5.5.0, it hangs on [Webpacker] Compiling… until I run ` bin/spring stop` in a different terminal window.

[2018-10-31 03:29] rhys-vdw commented on #74
Hm, sorry for the inactivity on this one. To be honest I just won't have the time to address this... Could [this](https://mathiasbynens.be/notes/javascript-unicode#reversing-strings) be a clue?

I wonder if we can join the strings in a `Buffer` instead of with `strings.join` for it to work? I'm pretty stumped sorry.

Are you using the latest version of Node?

[2018-11-08 13:18] feliperaul commented on #47
@PikachuEXE Thanks, haven't had any issues in the last days after your fix! If someone is wondering, that fix goes into `/config/webpack/loaders/erb.js`

[2018-11-09 01:21] PikachuEXE commented on #47
Maybe worth putting the example in README?

[2018-11-09 01:28] feliperaul commented on #47
@PikachuEXE I didn't notice you were the gem mantainer. First, congrats. Second, yes, for sure, it was bothering me big time and googling my way here wasn't easy. Add it to the readme!

[2018-11-09 01:31] rhys-vdw commented on #47
@feliperaul if you're experiencing hangs you should also set the `timeoutMs` option.

[2018-11-30 15:53] prithvi16 commented on #63
We had a similar problem with `erb-loader` on CircleCI. Everything worked fine locally but failed to build on CircleCi.

I sshed into CI job and ran

`$ cat app/javascript/vendor/javascripts/smart_listing/smart_listing.coffee.erb | bin/rails runner ./node_modules/rails-erb-loader/erb_transformer.rb __RAILS_ERB_LOADER_DELIMETER__ erb
`

for my `.erb` file. But it was giving me an error that rake wa

[2018-11-30 22:15] type-face commented on #63
Our issue was also related to spring, but running GitLab pipelines. Had to run `bundle install --without development` on our pipeline job to get it to work.

[2018-12-16 01:59] rhys-vdw commented on #74
Note: https://nodejs.org/api/string_decoder.html might help

[2018-12-16 02:00] rhys-vdw commented on #74
Also it's possible to set the encoding to utf-16 via spawn options.

[2019-01-02 23:06] josephfarina opened #75 "Webpack callback being called more than once"
It seems like the case: `Module build failed: Error: rails-erb-loader failed with code: -2` triggers the callback twice. This leads to the very unhelpful error message:

[code]

This error hides the actual relevant error message that is causing this issue that is emitted here: https://github.com/usabilityhub/rails-erb-loader/blob/master/index.js#L129

The other place the callback is being triggere

[2019-01-03 00:05] rhys-vdw commented on #75
Hey @josephfarina. Thanks for the report. I had trouble finding information on the constraints and guarantees of the child process callbacks and seem to have made an assumption here that was wrong.

I think it might be appropriate to use a flag to ensure that the callback is only called once.

Were you able to determine what was causing the error itself?

[2019-01-03 01:13] josephfarina commented on #75
Yes, I think a flag would solve this issue fine.

The error I've been getting is either the one below or a `-2` code that resulted from setting the `option.runner` as `RAILS_ENV=... bin/rails runner` due to the parsing of the runner string.

[code]

[2019-01-03 01:30] rhys-vdw commented on #75
Ah, cheers @josephfarina. FYI you should use the [`env` option](https://github.com/usabilityhub/rails-erb-loader#options) to set the `RAILS_ENV`. Happy to take a PR for the immediate fix for this bug if you're willing. Otherwise I'll try to make some time when I return to work next week.

[2019-01-03 02:11] josephfarina commented on #75
Awesome thanks for the help!

Here is a PR: https://github.com/usabilityhub/rails-erb-loader/pull/76/files

Let me know if it is okay!

[2019-01-03 03:06] #75 closed

[2019-02-04 15:22] bragovo commented on #74
Thank you, but these solutions didn't help me. But I found solution here https://github.com/nodejs/help/issues/1302#issuecomment-392460004
I create PR https://github.com/usabilityhub/rails-erb-loader/pull/77

[2019-02-05 05:09] #74 closed

[2019-05-31 01:37] TheFSilver commented on #33
Hi,

I had a similar problem and solved it including the helper like this in the
"./node_modules/rails-erb-loader/erb_transformer.rb" file :

`
delimiter = ARGV[0]
engine = ARGV[1]
handler = case engine
  when 'erubi'
    require 'erubi'
    Erubi::Engine
  when 'erubis'
    require 'erubis'
    Erubis::Eruby
  when 'erb'
    require 'erb'
    include Rails.application.routes.url_helpers
    ERB

[2019-07-03 17:39] Rovel opened #80 "warning " > rails-erb-loader@5.5.2" has unmet peer dependency "webpack@^2.0.0 || >= 3.0.0-rc.0 || ^3.0.0"."
As I use `yarn install` I'm getting this warning:

[code]

Should I need to worry about this? I tried to upgrade/match dependencies but it still throwing this warning.

Any concerns or tips?

[2019-07-04 02:38] PikachuEXE commented on #80
What's your `webpack` version?

[2019-07-05 22:58] Rovel commented on #80
3.5

[2019-07-08 03:33] PikachuEXE commented on #80
I am using
[code]
But I don't see that message running `yarn install`

[2019-07-08 03:35] PikachuEXE commented on #80
I only see a lot of warnings during `yarn upgrade`
I normally just ignore them :P
[code]

[2019-07-08 11:56] bragovo commented on #80
I have the same warning. Seems this PR must fix it: https://github.com/usabilityhub/rails-erb-loader/pull/78/files#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R54

[2019-07-10 00:32] rhys-vdw commented on #80
Ah, I guess we should bump the minimum support.

[2019-09-15 16:23] xbl4cky opened #82 "Some Rails helpers produce Syntax Error"
Hello and thank you for this great project!

I installed the **rails-erb-loader** package via the recommended command `bundle exec rails webpacker:install:erb` at Ruby version 2.5.3 and Rails version 5 and Webpacker version 4.0.7.

When I included the automatically generated JavaScript pack file `hello_erb.js.erb`, the expected result was shown. Then I tried a different ERB code: a simple `content

[2019-11-06 19:16] skatkov commented on #63
I've had a similar issue with one of the projects I'm working on (rails based).

Non of the solutions mentioned here worked for us, so I went into debugging mode... and found a commit that broke everything.

I managed to downgrade some of the gems, not sure which gem exactly broke rails-erb-loader -- but my best bet is `autoprefixer-rails` (locked to 9.6.1.1) or `rails-html-sanitizer` ( locked to

[2019-11-07 01:59] PikachuEXE commented on #63
@skatkov
I use both of them fully updated
- autoprefixer-rails (9.7.1)
- rails-html-sanitizer (1.3.0)
But I use rails 5.2.3

[2020-02-07 17:21] ash106 commented on #63
Is there no way to rename application.js to application.js.erb with this software?? It works fine with the example but I'm trying to use it to import gems in my application.js, not import other js files with erb in them. It looks like it did work at some point according to this comment: https://github.com/nathanvda/cocoon/issues/452#issuecomment-384836675. Is this not a thing anymore? All I get is

[2020-02-10 23:32] margalit commented on #63
In my instance, this error was due to a ruby version bump which was identified easily as @rhys-vdw pointed out after running: `bin/rails runner`.

[2020-02-27 08:26] rept commented on #63
I have the same issue, very annoying.

[code]

I tried setting DISABLE_SPRING as well as NODE_ENV as indicated in this thread, to no avail.

This is my erb.js file:

[code]
I've also tried without the env and with preceding the DISABLE_SPRING to the runner.

I'm using version 5.5.2

For completeness this is the serviceworker.js.erb file:

var CACHE_VERSION = 'v10';
var CACHE_NAME = CACHE_VERSION +

[2020-04-04 21:06] tfwright commented on #63
In case it helps someone else having this issue, it was happening to me when trying to deploy to heroku using `../bin/rails runner` for the `runner` option. Along the lines of the suggestion in https://github.com/usabilityhub/rails-erb-loader/issues/63#issuecomment-392746607 changing it to `../bin/bundle exec rails runner` fixed the issue.

[2020-04-27 22:49] Yardboy commented on #63
Just chiming in with my solution, for anyone that comes looking in the future. I ran into this issue trying to deploy a Rails 6 application to Dokku using ERB javascript templates. Everything worked great locally under development and production env settings, but when pushed to Dokku it would fail at the `assets:precompile` step. None of the solutions I found here or elsewhere solved the problem.

[2020-05-13 21:09] amkisko commented on #63
Maybe add `console.log` here: https://github.com/usabilityhub/rails-erb-loader/blob/master/index.js#L93

[code]

[2020-06-12 06:08] rhys-vdw commented on #82
This file contains an error which has been reported before. It's not part of this project, nor is it generated by this project.

[2020-06-12 06:08] #82 closed

[2020-06-21 13:20] mcmaddox commented on #63
FWIW, I resolved this issue by correcting a Zeitwork::NameError thrown while deploying to Heroku (Rails 6.0.3; Ruby 2.7.1p83; WSL [Ubuntu 18.04]) :

``on_file_autoloaded': expected file /tmp/build_10e9581d550a3c3f1134ca4159ab62d0/app/controllers/admins/[snake_case].rb to define constant Admins::[CamelCase], but didn't (Zeitwerk::NameError)`

My fix was simple: For each file that caused this error,

[2020-07-02 03:35] n-rodriguez commented on #80
Hi there! Any news?

[2020-07-02 03:36] n-rodriguez commented on #59
Hi there! Any news?

[2020-07-02 05:39] fiznool commented on #80
Will be fixed by #78

[2020-07-14 09:18] #59 closed

[2020-09-01 23:57] erickAvSanti opened #91 "rails-erb-loader encountered an unexpected error while writing to stdin: "write EPIPE""
[code]

[2020-09-02 02:35] PikachuEXE commented on #91
Please include more info
gem versions, ruby versions, related library versions...
Content for `./app/javascript/packs/hello_erb.js.erb`

Also please use code fence for log output next time to make it more readable

[2020-09-02 03:57] erickAvSanti commented on #91
after any time, I solved that with gem 'mini_racer'

[2020-09-02 03:58] #91 closed

[2020-09-11 20:42] dkniffin commented on #47
@PikachuEXE I just ran into this same thing (on v5.5.2). It looks like that change never made it into the readme

[2020-09-14 02:25] PikachuEXE commented on #47
Sorry just added the example to README
Let me know if anything else can be done for this issue

[2020-10-10 06:01] MtnBiker commented on #63
Not sure another me too will help; but the error is in a new simple app in development mode. Here are all the gems including ones from development mode which I'm in. Using webpacker for JS and SCSS, but not for images.

A new small tutorial app. But I wanted `<%= icon("icons8-marker-48.png") %>` in  `maps.js.erb`

    ruby '2.7.0'
    gem 'rails', '~> 6.0.3', '>= 6.0.3.2'
    gem 'pg', '>= 0.18',

[2020-10-10 10:11] rhys-vdw commented on #63
@MtnBiker are you sure the actual error isn't being printed out further up the build output? In any case I'd strongly advise against using this tool in a new stack, rails-erb-loader was designed as a stopgap for if you have legacy ERB from a sprockets project that is now being built w/ webpack. There are better ways to get image paths into your JS that don't require templating. [Read the guide](ht

[2020-10-10 17:14] MtnBiker commented on #63
@rhys-vdw Not sure about your first sentence. The error I showed is the only error in Chrome Console.

But I'll take your advice. Many recommended against handling images with Webpacker, but I guess I'm pushing the limits, so will dive in. Part of it is the changing recommendations and to start with I don't have a `webpack.config.js` in my project. I realize Rails handles these things differently

[2020-10-11 09:20] rhys-vdw commented on #63
@MtnBiker

When you run webpack normally it just spits output into the console, and any error from the rails-erb-loader process is piped out to STDERR before the exception is fired. I can't recall if this output it included in Chrome.

@MtnBiker sorry I can't comment on webpacker, it's a gem that relies on this module but I've never used it. It's very normal to `require` images with webpack itself

[2020-10-13 13:44] yosupgurl opened #92 "Error: rails-erb-loader failed with code: 1"
I get this error message when attempting to compile a .js.erb file with webpacker.

`ERROR in ./app/javascript/packs/freelancer.js.erb
Module build failed (from ./node_modules/rails-erb-loader/index.js):
Error: rails-erb-loader failed with code: 1
    at ChildProcess.<anonymous> (/mnt/c/Code/helloworld/node_modules/rails-erb-loader/index.js:128:16)
    at ChildProcess.emit (events.js:198:13)
    a

[2020-10-13 15:36] #92 closed

[2020-10-13 15:37] yosupgurl commented on #92
Sorry for pre-emptively opening this, moving my material to the existing case

[2020-10-13 16:18] yosupgurl commented on #63
I get this error message when attempting to compile a .js.erb file with webpacker.

ERROR in ./app/javascript/packs/freelancer.js.erb Module build failed (from ./node_modules/rails-erb-loader/index.js): Error: rails-erb-loader failed with code: 1 at ChildProcess.<anonymous> (/mnt/c/Code/helloworld/node_modules/rails-erb-loader/index.js:128:16) at ChildProcess.emit (events.js:198:13) at maybeClose

[2020-10-13 18:50] n-rodriguez commented on #63
I'm commenting on https://github.com/usabilityhub/rails-erb-loader/issues/63#issuecomment-647127581 but it should be a starter for anyone who has issues with `rails-erb` :

It's not a conflict but the thing is : rails-erb-loader calls the `rails runner` command (https://guides.rubyonrails.org/command_line.html#rails-runner) to generate JS from `js.erb` templates. (https://github.com/usabilityhub/r

[2020-10-15 01:38] rhys-vdw commented on #63
Thanks for detailed response @n-rodriguez. This is correct (but you also need to pass "engine" and "delimiter" arguments to the erb_transformer.)

@yosupgurl In this case though there are no real surprises here (for me, the author of this module). You're hitting issue #33. The runner doesn't add anything to scope. You'll see that error if you're trying to call a function `render` which is not avai

[2020-10-18 19:27] yosupgurl commented on #63
@rhys-vdw I'm using pagy to paginate a list of items. I'm initializing the variable that contains the paginated list before I call the j render function, this should allow for this functionality, no?

Sorry, I'm fairly new to web dev and I've been stuck on this for quite some time. None of the solutions allow me to properly render the paginated partial on click. Perhaps you could link me to a reso

[2020-11-18 21:46] mattwd7 commented on #63
@mcmaddox and @n-rodriguez saved me on this in the end. Despite `Error: rails-erb-loader failed with code: 1` higher up in my logs, it was the `Zeitwork` error further down that was the root of the issue. In my case, I needed to rename/remove compiled directory names beginning with a number to make `Zeitwork` happy, which was pretty explicit in the error logging...!

ALSO, for anyone coming here o

[2021-04-01 05:49] rhys-vdw commented on #80
Guess this is closed.

[2021-04-01 05:49] #80 closed

[2021-06-19 08:58] atinder commented on #63
@rcerqueira11CF
You configuration worked for me, except I have this `runner: 'bundle exec bin/rails runner'`

[2021-06-21 00:54] rhys-vdw commented on #63
I think I made [this change](https://github.com/usabilityhub/rails-erb-loader/pull/81/files/9e9dd5c7baefdd2eb4c00f463460b8cd19f32d19#diff-22637e1e4716a55a89636f5ef4161545d8815cd7fc4a28cfc21d551daf7b7f41R17-R22) to force Ruby to output the error, but it never got merged. You could try making that modification to your ERB file and see if it prints your error.

[2021-06-29 21:37] cassioalmeidas commented on #63
I'm having the same problem on heroku with rails 6.1, it compiles with command RAILS_ENV=production assets:precompile on my machine, but when pushing to heroku the following error is displayed:

<pre>
       ERROR in ./app/javascript/i18n-js/index.js.erb
        Module build failed (from ./node_modules/rails-erb-loader/index.js):
        Error: rails-erb-loader failed with code: 1
            at C

[2021-06-29 21:48] rcerqueira11AP commented on #63
In my case is while doing the docker image, could it be the same problem in heroku, because without the DISABLE_SPRING the problem is tha truby does not exists in the linux machine that im creating the docker, but thats the thing, it should not need ruby outside the docker to use ruby inside the docker

[2021-06-29 23:42] cassioalmeidas commented on #63
@rcerqueira11AP I've already set DISABLE_SPRING=1 in heroku's environment variables, but it didn't do any good

[2021-06-30 08:18] jwoodrow commented on #63
I had this issue with a PR that changed both the ruby version and rails version to `ruby 3.0.1` and `rails 6.1.3.2` that kept failing only on Travis.

After a lot of debugging I found that my error was `FATAL: Listen error: unable to monitor directories for changes` so after adding this to my `travis.yml` my assets:precompile started working again 🎉

[code]

maybe this can help someone else having

[2021-07-21 14:15] thiagobrandam commented on #63
After running webpack on a heroku bash session, I found out that there's something odd going on with the ARGV being passed to bin/rails... still investigating but posting here just in case someone has any idea wtf is going on...

[code]

[2021-07-21 17:07] cassioalmeidas commented on #63
@thiagobrandam see how i solved my problem https://github.com/jbox-web/ajax-datatables-rails/issues/394

[2021-08-24 20:24] rapito opened #102 "Wrong Mapping for component name"
Version: 5.5.2

Having a component like this:

filename: `MyComponent.jsx.erb`
[code]

makes rails-erb-loader ends up mapping it like this when webpacker compiles it:
[code]

The expected output is, which is how it looks if the file name was `MyComponent.jsx`:
[code]

These results in not being able to find the component when trying to do `react_component 'MyComponent'`

[2021-08-24 23:55] rhys-vdw commented on #102
I think this is a problem with the way you're integrating rails-erb-loader. This is just transpiles ERB. Everything else is handled by your webpack config.

[2021-08-24 23:56] #102 closed

[2021-08-25 11:58] rapito commented on #102
Hmmm, Thanks.
I'm using the default configuration provided on this github. I'll try reaching the react-rails repo maintainers then.

[2021-08-25 12:34] rapito commented on #102
@rhys-vdw and anyone interested, The issue was that I needed to add both
[code]
to the `webpacker.yml` file.
Maybe this shoud be documented somewhere?

[2021-08-25 15:28] rhys-vdw commented on #102
I've never used webpacker before, maybe you can bring this up in their issue tracker @rapito?

[2021-08-25 16:12] rapito commented on #102
Yeah, you are right.
Thanks!

[2021-08-28 14:53] acallaghan opened #103 "Webpacker 6 support"
Hi there, So i'm testing out Webpacker 6 which uses webpack 5 - I'm having trouble initializing the loader.

[code]

Which gives me this error
[code]

Any ideas how to adapt the loader? Do you need to do work to support the new webpack 5 plugin API?

[2021-08-29 09:28] rhys-vdw commented on #63
So this module will just do whatever happens when you call `rails runner`. If that depends on your schema then it'll have to be there. It's an unfortunate design choice of ActiveRecord that it reads your schema at startup, compounded with the unfortunate design of Rails loading up every single object at startup.

However do you _need_ to transpile your JS at this stage? Surely your backend doesn't

[2021-08-29 09:51] rhys-vdw commented on #103
First step is to add webpack 5 to the test suite here:

https://github.com/usabilityhub/rails-erb-loader/blob/233db82e5742fa4e8775bdb081391a743b55d902/.travis.yml#L16-L18
https://github.com/usabilityhub/rails-erb-loader/blob/233db82e5742fa4e8775bdb081391a743b55d902/package.json#L15-L17

However, it sounds as though you're simply providing the options to rails-erb-loader is an old way that is not l

[2021-08-30 02:14] PikachuEXE commented on #103
Webpacker 6 has already included [a default rule for `.erb` files with `rails-erb-loader` as loader](https://github.com/rails/webpacker/blob/v6.0.0.rc.5/package/rules/erb.js)
(When the module `rails-erb-loader` can be resolved)

[2021-08-30 18:10] acallaghan commented on #103
@PikachuEXE Ah this is correct, and yes it 'just works' in webpacker 6 without any user config at all - thank you very much.

[2021-08-31 00:27] rhys-vdw commented on #103
Reopening until we can confirm compatibility with webpack 5.

[2021-11-07 15:59] jwoodrow opened #105 "Having issues using rails-era-loader with yarn 2"
Hi,

I'm trying to migrate an existing project from yarn to yarn 2 (with pnp) but I'm encountering a strange issue when it comes to `rails-erb-loader` and `webpack`/`webpacker`

I'm using rails-erb-loader for a single file in webpacker which is i18njs translations (and a few extras) basically

But when I run `bin/webpack-dev-server` locally, after migrating to yarn 2 and dealing with the issues th

[2021-11-07 16:27] jwoodrow commented on #105
Just a head's up to let you know that changing this (in the `transformSource` method) worked.

[code]

to

[code]

I think the runner interprets the absolute path as a regex because of the initial `/` and that breaks everything

[2021-12-15 10:17] bertBruynooghe opened #107 "unclarity/bug when using rails-erb-loader-dependencies directive in non-js files"
I spent quite some time figuring out I needed the following syntax to get dependencies detected for my `.html.erb` files:

I see two solutions:
1. document this properly

or iso. `/* rails-erb-loader-dependencies ... */` implement the replacement as searching for:

2.  `rails-erb-loader-dependencies` (which allows users to use the proper comment syntax for the resulting file, and which is backward

[2021-12-16 03:34] PikachuEXE commented on #107
I think we should simply update doc on https://github.com/usabilityhub/rails-erb-loader#dependencies
for this special case.
I have never used `rails-erb-loader-dependencies` in `.html.erb` so I have no idea that syntax is required.
(I don't even know how it works and [I have only contributed a few things](https://github.com/usabilityhub/rails-erb-loader/pulls?q=is%3Apr+sort%3Aupdated-desc+author%3

[2022-05-09 14:00] texpert opened #115 "Please, craft a new release!"
3 years since last release.

Although most changes are dependencies updated and some documentation changes, a minor version bump would be great!

[2022-05-10 02:18] PikachuEXE commented on #115
I don't have access so I can't do it

[2022-05-12 00:58] rhys-vdw commented on #115
Oh sorry. I think that's me?

[2022-05-12 01:05] rhys-vdw commented on #107
include the javascript comment block inside an erb comment block.

The reason this was not included in the docs is because comments should be removed before your release (same goes for all preprocessor directive comments, eslint etc etc)

[2022-05-12 07:25] texpert commented on #115
Yep, @rhys-vdw , it would be great, if you please!

[2022-05-13 04:26] rhys-vdw commented on #115
@texpert it looks like we are reluctant to do a release due to a lack of bandwidth to properly review the package. Our position is that we would like to donate the project to Rails org if possible. @PikachuEXE are you in a position to follow up on this?

[2022-05-13 04:27] rhys-vdw commented on #115
For now you can simply depend on the GitHub package in your package.json or vendor it into your codebase if you're not happy with that approach, @texpert.

[2022-05-13 05:10] PikachuEXE commented on #115
Since rails 7 use import map now.
I am not sure if they would accept it.
Easier to create an organization, move this project into it, add people to manage it.
But yes for now @texpert please just point to the GitHub repo until we figure out how we handle this project's future.

[2022-05-30 14:57] chipit24 opened #116 "How to access controller methods in erb file?"
I have a controller at `lib/my_awesome_helpers/controller.rb` that looks something like this:
[code]

I set up my `webpack.config.js` file with the following options:
[code]

And here is my `frontend/lib/testing.js.erb` file:
[code]

My setup works great, however, when I try to access any of my controller methods, I get the following error when I run my webpack build:
[code]

Any idea on how to ge

[2022-05-31 00:52] rhys-vdw commented on #116
Hm, my Ruby is rusty...

[code]

Should this not be:
[code]

[2022-05-31 01:23] PikachuEXE commented on #116
Ya
but normally we use `self.method` not `Modulename.method`
[code]

[2022-05-31 02:08] chipit24 commented on #116
@rhys-vdw The controller is set up correctly, I redacted the details of the controller and made a mistake with the nesting when writing it here, thanks for catching that! But my Ruby is very rust right now as well 😅

@PikachuEXE I can give that a try, thanks!

One thing to note about this controller is that its methods are used in a "regular" view file at `app/views/layouts` without issue–so I don

[2022-05-31 02:48] rhys-vdw commented on #116
Well controller instances are only cheated in response to a request, so they won't exist at build time. This is why I was trying to make sense of your code example. Anything that is global should be available to rails-erb-loader. An easy way to test if this is true is to open up the Rails REPL and see if your Ruby works. If your code works there then it should work in the template.

[2022-06-02 04:36] sudoudaisuke commented on #63
I tryied same error.
I got this error message. I think that "runner_command.rb:46" can not find a file (or not exist). The erb_transformer.rb file path is under ".yarn/__virtual__/". Why rails-erb-loader can not find the file?

I create repro [Dockerfile.zip](https://github.com/usabilityhub/rails-erb-loader/files/8820732/Dockerfile.zip).

not found filename
[code]
error message
[code]

webpack.con

[2022-06-03 21:23] joevandyk opened #117 "using with esbuild"
We're looking at migrating from webpacker to jsbundling-rails + esbuild. Any ideas on how to use `rails-erb-loader` with esbuild?

[2022-06-04 06:32] PikachuEXE commented on #117
I haven't used any of those yet sooo no idea 😅

[2022-06-06 04:01] rhys-vdw commented on #117
This is a webpack loader, so you can follow the guide in the README for setting up the loader (in combination with however esbuild allows you to modify the webpack config).

[2022-08-11 22:46] unRARed commented on #63
Per @rhys-vdw's comment

We ran into the same situation. For specifically this Heroku Review Apps + webpacker + rails-erb-loader issue, I think I solved by sort of monkey patching the Rake Task:

`./lib/tasks/heroku_review_app_assets_precompile.rake`

[code]

It does mean that `rails db:schema:load` happens twice, but seems like only a nit? Or maybe this is too naive?

[2022-11-07 08:36] Eusebius1920 commented on #115
There is a ciritical CVE caused by loader-utils:

https://github.com/advisories/GHSA-76p3-8jx3-jpfq

The affected version is used by the current package-version, but is fixed in master: 37cb03953ec232022cfd9e70d05dd37b24a57c16

So releasing a new version got a little more urgent.

**Regarding organisation**: Maybe you can team up with the guys from shakacode? They took over webpacker and are activ